body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }

header{
    height: 10vh;
    background-size: cover;
    background-position: center;
}

.logo a{
    color: #0e0101;
    padding: 0px 20px;
    border: 1px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0,0.7);
    
}

.logo a span{
    color: rgb(238, 56, 11);
    font-weight: bold;
    font-size: 2rem;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}

ul li a{
 text-decoration: none;
 color: #0e0101;
 padding: 10px 20px;
 text-transform: uppercase;
 border: 1px solid transparent;
 margin: 10px;
 font-weight: 500;
 transition: 0.6s ease;
 
}

ul li a:hover{
    background: #fff;
    color: #000;
}

ul li.active a{
    background: #0b0a0a;
    color:#efe8e8;
}

.principale{
    max-width: 114rem;
    margin: 0 auto;
}

.titre{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-65%, -53%);
}

.titre h1{
color: #fff;
font-size: 70px;
}

.bouton{
    position: absolute;
    top: 65%;
    left: 46.1%;
    transform: translate(-65%, -53%);

}

.bouton a{
    color: #e63434;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;

}

.btn{
    transition: 0.6s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}
.paragraphe{
    position: absolute;
    top: 48%;
    left: 75%;
    transform: translate(-65%, -53%);
    color:rgb(244, 211, 167);
    background:transparent;
    text-transform:unset
    border: 10px solid burlywood;
    padding: 50px 25px;
    margin: 10px; 
    font-weight:bolder;  
    font-style:italic;   
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./peels-photo-5039305.jpeg)
}

    

.aboutus{
    text-transform:unset
    font-weight:bolder;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./pexels-photo-5039305.jpeg)
}


    


.plaisir{
    position: absolute;
    top: 48%;
    left: 75%;
    transform: translate(-65%, -53%);
    color:burlywood;
    background:transparent;
    text-transform:unset
    border: 10px solid burlywood;
    padding: 50px 25px;
    margin: 10px; 
    font-weight:bolder;  
    font-style:italic;   
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(./pexels-photo-5039305.jpeg)
}

    
    
    
